input {
    margin-bottom: 0.25rem;
    font-size: 0.95rem;
}

#name {
    width: 100%;
    border: none;
}

#rank {
    width:40%;
}

span {
    display: inline-block;
    text-align: center;
    height:100%;
    margin-top:0.25rem;
}