/**
    Global CSS variables (custom properties).
    These should include the likes of color definitions for branding, media breakpoints, and related concepts.

	for reference read: https://developers.google.com/web/updates/2016/02/css-variables-why-should-you-care
	and https://www.smashingmagazine.com/2018/05/css-custom-properties-strategy-guide/

 */

/* unless there is good reason to limit a custom property to only certain
classes or elements, place definitions under :root */

:root {
    /* these examples are from material design (https://material.io/design/color/the-color-system.html#color-theme-creation) */
    --mdc-theme-primary: #000000;                          /* The theme primary color. */
    --mdc-theme-secondary: #385e7d;                        /* The theme secondary color. */
    --mdc-theme-surface: #ffffff;                          /* The theme surface color. */
    --mdc-theme-background: #ffffff;                       /* The theme background color. */
    --mdc-theme-on-primary: #ffffff;                       /* Primary text on top of a theme primary color background. */
    --mdc-theme-on-secondary: #ffffff;                     /* Secondary text on top of a theme primary color background. */
    --mdc-theme-on-surface: #000000;                       /* Hint text on top of a theme primary color background. */
    --mdc-theme-text-primary-on-background: #000000;       /* Primary text on top of the theme background color. */
    --mdc-theme-text-secondary-on-background: #000000;     /* Secondary text on top of the theme background color. */
    --mdc-theme-text-hint-on-background: #7f7f7f;          /* Hint text on top of the theme background color. */
    --mdc-theme-text-disabled-on-background: #9f9f9f;      /* Disabled text on top of the theme background color. */
    --mdc-theme-text-icon-on-background: #7f7f7f;          /* Icons on top of the theme background color. */
    --mdc-theme-text-primary-on-light: #000000;            /* Primary text on top of a light-colored background. */
    --mdc-theme-text-secondary-on-light: #000000;          /* Secondary text on top of a light-colored background. */
    --mdc-theme-text-hint-on-light: #7f7f7f;               /* Hint text on top of a light-colored background. */
    --mdc-theme-text-disabled-on-light: #9f9f9f;           /* Disabled text on top of a light-colored background. */
    --mdc-theme-text-icon-on-light: #7f7f7f;               /* Icons on top of a light-colored background. */
    --mdc-theme-text-primary-on-dark: #FFFFFF;             /* Primary text on top of a dark-colored background. */
    --mdc-theme-text-secondary-on-dark: #FFFFFF;           /* Secondary text on top of a dark-colored background. */
    --mdc-theme-text-hint-on-dark: #CFCFCF;                /* Hint text on top of a dark-colored background. */
    --mdc-theme-text-disabled-on-dark: #CCCCCC;            /* Disabled text on top of a dark-colored background. */
    --mdc-theme-text-icon-on-dark: #9f9f9f;                /* Icons on top of a dark-colored background. */

    /* these used in normalize.css and through out the rest of the app*/
    --header-primary-background-color: var(--mdc-theme-primary);
    --header-primary-color: var(--mdc-theme-text-primary-on-dark);
    --header-alternate-color: var(--mdc-theme-text-primary-on-background);
    --header-alternate-background-color: var(--mdc-theme-background);
    --text-primary-color: var(--mdc-theme-text-primary-on-background);
    --text-primary-background-color: var(--mdc-theme-background);

    --default-line-height: 1;

    --link-unvisited-color: var(--mdc-theme-secondary);
    --link-visited-color: var(--mdc-theme-text-hint-on-background);
    --input-border-color: var(--mdc-theme-text-hint-on-background);
    --input-disabled-color: var(--mdc-theme-text-disabled-on-background);
    --button-color: var(--mdc-theme-secondary);
    --button-disabled-color: var(--mdc-theme-text-disabled-on-light);
    --button-background-color: #f4f4f4;
    --button-background-color-active: #ddd;
    --button-border-color-focus: #666;

}