/*
 * {
     box-sizing: content-box;
 }*/

.check-text {
    opacity: 0.8;
    padding-left: 0;
    display: table-cell;
}

.checkmark {
    position: absolute;
    top: -1pt;
    left: -1pt;
    opacity: 1;
    z-index: 1000;
    /*background: url(/images/small-check.svg) no-repeat center;*/
    background-size: 1.25rem;
    display: inline-block;
}

.check-text,
.checkmark {
    float: left;
    vertical-align: middle;
    user-select: none;
    width: 100%;
    height: 70%;
}

.checkmark span,
.check-text span {
    text-align: center;
    vertical-align: top;
}

.checkmark span {
    font-family: 'Gothic A1', sans-serif;
    color: black;
    font-size: 1.9rem;
    font-weight: normal !important;
}

.check-text span {
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-weight: 900;
    height: 100%;
    width: 90%;
    text-align: center;
    display: inline-block;
    box-sizing: content-box;
}

.box {
    position: relative;
    pointer-events: visible;
}

.box:after {
    content: "";
    display: table;
    clear: both;
}