@media print {
    .page {
        box-shadow: none !important; /* remove the box shadow */
        margin: auto auto !important; /* center in the page */
    }
}

.page {
    width: 8.5in;
    height: 11in;
    padding: 0.5in;
    margin: 0.5in auto;
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    box-sizing: border-box;
}