

.consequences {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.consequences div {
    display: flex;
    flex-direction: row;
    margin-bottom: 0.25rem;
}

.consequences label {
    position: absolute;
    float: left;
    width: 1.0rem;
    flex-shrink: 0;
    flex-grow: 0;
    display: inline-block;
    font-size:1.4rem;
    font-weight: bolder;
    font-family: Barlow Condensed, sans-serif;
}
.consequences input {
    margin-left:0.5rem;
    width:100%;
    display: inline-block;
    margin-bottom: 0.25rem;
}